<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"  href="/style.css" />
  <style>
  #mount > [data-reactroot] { min-height: 100vh }
  </style>
</head>
<body style="min-height:100vh">
  <div id="mount" style="min-height:100%"><%- markup -%></div>
  <script src="/bundle.js" ></script>
</body>
</html>
